.vscode
stscompile
stsprg.out
build/
release/*/bin/sts*
*.obj
release/windows-x86/libs/
*.code-workspace
helloworld.stslib
helloworldpy.stslib
*.exe
*.tar*
*.zip
release/

snap/.snapcraft/
snap/parts/
snap/prime/
snap/stage/
snap/snap/
*.snap