.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/ipch
release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
.ninja_deps
.ninja_log
build/stormscript

*.code-workspace

compile_commands.json

*.exe
*.tar*
*.zip
*.log
*.pyc

snap/.snapcraft/
snap/parts/
snap/prime/
snap/stage/
snap/snap/
*.snap
libraries/*/reader.cc
*.xdelta3