.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/ipch
build/
release/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

*.code-workspace


*.exe
*.tar*
*.zip
*.log
*.pyc

snap/.snapcraft/
snap/parts/
snap/prime/
snap/stage/
snap/snap/
*.snap
libraries/*/reader.cc
*.xdelta3